@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-prose;
    @apply text-base;
    @apply font-body;
    @apply break-words;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer utilities {
  @variants responsive {
    .text-indent {
      text-indent: 2rem;
    }
  }
}

@layer components {
  .ProfilePictureFrame::after {
    content: "";
    @apply absolute;
    width: 120%;
    right: 0;
    height: 150%;
    bottom: 0;
    @apply bg-primary;
    @apply origin-bottom-right;
    @apply transform rotate-[330deg];
  }
  .ProfilePictureFrame {
    @apply relative;
    overflow: hidden;
  }
  .ProfilePictureFrame > * {
    @apply relative;
    @apply z-10;
  }
  .GreetingBox {
    @apply bg-primary text-on-primary px-2.5 py-0.5 inline-block uppercase font-semibold rounded-sm;
    @apply relative;
  }
  .GreetingBox::after {
    content: "";
    @apply absolute;
    left: 0.3em;
    bottom: -0.8em;
    width: 0;
    height: 0;
    border-top: 0.8em solid theme("colors.primary");
    border-right: 0.8em solid transparent;
  }
  .ProgressBar {
    @apply bg-progressbar relative rounded;
    height: 15px;
  }
  .Progress {
    @apply absolute top-0 left-0 bottom-0 bg-primary rounded;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
  }

  .TimelineItem {
    @apply relative my-4 pl-5 border-l-3 border-progressbar hover:border-primary transition duration-500;
  }
  .TimelineItem::before,
  .TimelineItem::after {
    content: "";
    @apply absolute border-primary border-2 border-solid;
    left: -9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
  }
  .TimelineItem::before {
    top: -1px;
  }
  .TimelineItem::after {
    bottom: -1px;
  }
}
